# Node Modules
node_modules/

# Temporary folders created when compiling the code
build/
dist/

# Folders and files generated when running the project
/config/
crashlog/
public.key
private.key
gamedata.db

# Incremental builds
*.tsbuildinfo